#cloud-config

# Ensure VM is fully up-to-date multipass does not support reboots.
# See: https://github.com/canonical/multipass/issues/4199
# Package management
package_reboot_if_required: false
package_update: true
package_upgrade: true

# Install prerequisites
snap:
  commands:
    00: snap install juju --channel=3/stable
    01: snap install lxd --channel=6/stable

# Configure and initialize prerequisites
lxd:
  init:
    storage_backend: dir

# Commands to run at the end of the cloud-init process
runcmd:
  - lxc network set lxdbr0 ipv6.address none
  - su ubuntu -c 'juju bootstrap localhost charmed-hpc-controller'

# Write files to the Multipass instance
write_files:
  # MPI workload dependencies
  - path: /home/ubuntu/mpi_hello_world.c
    owner: ubuntu:ubuntu
    permissions: !!str "0664"
    defer: true
    source:
      uri: |
        https://raw.githubusercontent.com/charmed-hpc/docs/refs/heads/main/reuse/tutorial/mpi_hello_world.c
  - path: /home/ubuntu/submit_hello.sh
    owner: ubuntu:ubuntu
    permissions: !!str "0664"
    defer: true
    source:
      uri: |
        https://raw.githubusercontent.com/charmed-hpc/docs/refs/heads/main/reuse/tutorial/submit_hello.sh
  # Container workload dependencies.
  - path: /home/ubuntu/generate.py
    owner: ubuntu:ubuntu
    permissions: !!str "0664"
    defer: true
    source:
      uri: |
        https://raw.githubusercontent.com/charmed-hpc/docs/refs/heads/main/reuse/tutorial/generate.py
  - path: /home/ubuntu/workload.py
    owner: ubuntu:ubuntu
    permissions: !!str "0664"
    defer: true
    source:
      uri: |
        https://raw.githubusercontent.com/charmed-hpc/docs/refs/heads/main/reuse/tutorial/workload.py
  - path: /home/ubuntu/workload.def
    owner: ubuntu:ubuntu
    permissions: !!str "0664"
    defer: true
    source:
      uri: |
        https://raw.githubusercontent.com/charmed-hpc/docs/refs/heads/main/reuse/tutorial/workload.def
  - path: /home/ubuntu/submit_apptainer_mascot.sh
    owner: ubuntu:ubuntu
    permissions: !!str "0664"
    defer: true
    source:
      uri: |
       https://raw.githubusercontent.com/charmed-hpc/docs/refs/heads/main/reuse/tutorial/submit_apptainer_mascot.sh
